.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46rem;
    height: 4.5rem;
    background: var(--gray-500);
    border-radius: 0.5rem;
    gap: 0.75rem;
    padding: 1rem;
}

.container button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container p {
    font-size: 0.875rem;
    font-family: Inter;
}

.container .iconExcluir {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--gray-300);
    cursor: pointer;
}

.container .iconCheck {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--blue-500);
    cursor: pointer;
}

.container .paragrafo {
    width: 100%;
    text-align: left;
    font-size: 0.875rem;
}

.container .paragrafoP {
    width: 100%;
    text-align: left;
    font-size: 0.875rem;
    text-decoration: line-through;
    color: var(--gray-300);
}