.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}

.task header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 46rem;
    height: 2.25rem;
}
