.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}

.task header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 46rem;
    height: auto;
    margin-bottom: 2rem;
}

.task header p {
    color: var(--blue-500);
    font-size: 0.875rem;
}

.task header div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.task header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-400);
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

.task header .spanCompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-400);
    border-radius: 1rem;
    height: 1.5rem;
    width: 4rem;
    font-size: 0.875rem;
}
